name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: denoland/setup-deno@v2.0.2
        with:
          deno-version: v2.x
      - name: Run fmt
        run: deno fmt --check
      - name: Run lint
        run: deno lint
