name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: denoland/setup-deno@v2.0.2
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 22
      - name: Install dependencies Prepare
        run: |
          cd vrt
          yarn install
          yarn playwright install --with-deps
      - name: run server
        run: |
          deno run --unstable-kv --allow-net --allow-env server.ts &
          cd vrt
          node json-server.js &

      - name: Run Playwright tests
        run: |
          cd vrt
          yarn playwright test

      - uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: playwright-report
          path: vrt/playwright-report/
          retention-days: 30
